.vscode/**
genos_midi_settings/**
genos1_midi_files/**
genos2_midi_files/**
genos2_midi_files_prev/**
midi_sysex_bug/**
test/**
motif2text.py
printMotifFile.py
**/*.mis
**/*.mis.txt
**/*.sav
