.vscode/**
genos1_midi_files/**
genos2_midi_templates/**
genos2_midi_files/**
genos2_midi_files_prev*/**
genos2_midi_files.prev*/**
midi_sysex_bug/**
test/**
motif2text.py
printMotifFile.py
**/*.mis
**/*.mis.txt
**/*.sav
